body{
    font-family: "Peyda"
}

.vector2-opacity::before {
    content: '';
    background:url('./Images/Vector11.png');
    opacity:0.1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .vector2-opacityy::before {
    content: '';
    background:url('./Images/Group 70191.png');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .mask::before {
    content: '';
    background:url('./Images/Mask group.png');
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ccc;
  }
  
  .progress {
    height: 100%;
    background-color: #09c03c;
    border-radius: 5px;
    transition: width 0.05s;
  }
  

.swiper-pagination{
/* background-color: aqua; */
margin-top: 20px;
}

  
@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-Black.woff2') format('truetype');
  font-weight: 900;
  /* Black font weight */
}

@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-Bold.woff2') format('truetype');
  font-weight: 700;
  /* Bold font weight */
}

@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-ExtraBold.woff2') format('truetype');
  font-weight: 800;
  /* Extra-Bold font weight */
}

@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-Medium.woff2') format('truetype');
  font-weight: 500;
  /* Medium font weight */
}

@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-Regular.woff2') format('truetype');
  font-weight: 400;
  /* Regular font weight */
}

@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-SemiBold.woff2') format('truetype');
  font-weight: 600;
  /* Semi-Bold font weight */
}

@font-face {
  font-family: "Peyda";
  src: url('./Font/Peyda/PeydaWeb/Woff2/PeydaWeb-Thin.woff2') format('truetype');
  font-weight: 100;
  /* Thin font weight */
}
